fastapi>=0.110.0
uvicorn>=0.31.1
ffmpeg-python==0.2.0
transformers>=4.40.0
accelerate>=0.28.0
pysubs2>=1.7.0
sse-starlette>=2.0.0
pydantic>=2.7.0
python-multipart>=0.0.9
python-dotenv>=1.0.1
hf-transfer>=0.1.9
huggingface_hub
requests
plyer
pandas==2.2.3
nltk>=3.8.1
av==15.1.0
tokenizers
onnxruntime
subliminal==2.6.0
babelfish
ffsubsync>=0.5.0
charset-normalizer
silero-vad
ninja
omegaconf>=2.3.1
pyannote-audio>=4.0.0
llama-cpp-python
ctranslate2
faster-whisper
whisperx
