fastapi==0.110.0
uvicorn==0.31.1
ffmpeg-python==0.2.0
torch>=2.0.0
transformers>=4.40.0
accelerate>=0.28.0
pysubs2==1.7.2
sse-starlette==2.0.0
pydantic==2.6.4
python-multipart==0.0.9
faster-whisper>=1.0.0
whisperx>=3.1.1
python-dotenv==1.0.1
silero-vad>=5.1.0
subliminal==2.6.0
babelfish
ffsubsync
charset-normalizer
hf-transfer
plyer
pandas
nltk
av
tokenizers
onnxruntime
huggingface_hub
